.blog__container {
    min-width: 100%;
}
.main__content__head {
    min-height: 312px;
    min-width: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}
.main__content__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 153px;
    padding-top: 48px;
}
.main__content__footer a{
    font-size: 14px;
    line-height: 142%;
    font-weight: 600;
    padding: 8px 48px 8px 29px;
    border: 1px solid #1A1718;
    color: inherit;
}

.blog__posts__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 48px;
}
.main__content__roadmap::before {
    width: 16px;
    content: "";
    float: left;
    height: 16px;
    margin-right: 5px;
    background: url('../../img/common/UI/back_arrow.png') no-repeat bottom;
    background-size: 80%;


}