.main__container {
    margin-left: 24px;
    width: 100%;
}
.main__title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding: 29px 0 7px 0;
}
.main__border {
    height: 1px;
    left: 320px;
    top: 120px;
    background: #DEDBDC;
}
.main__content {
    max-width: 1045px;
    padding: 23px 0 0 0;
}
.main__content__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}
.main__search {
    padding: 2px 2px 2px 10px;
    width: 65%;
    height: 36px;
    border: 1px solid #DEDBDC;
    border-radius: 5px;
    outline: none;
    background-color: inherit;
}
.main__select {
    width: 32%;
    height: 36px;
    border: 1px solid #DEDBDC;
    border-radius: 5px;
    background-color: inherit;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px
}
.content__head {

}