.link {
    display: flex;
    align-items: center;
    color: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    min-width: 100%;
}
.link svg {
    padding-right: 20px;
    text-align: center;
}
._active {
    color: #F8346B;
    border-right: 2px solid #F8346B;
}